<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">


  <title>BitCoin Dashboard</title>
</head>
<body>

<div class="jumbotron">
        <div class="container">
                <h1>Bitcoin Dashboard</h1>
        </div>
</div>
<div class="container">
        <h1> Exchange Rates </h1>
         <p class="exchange"></p>
        <script>
        $( document ).ready(function() {
                $.get( "/getTicker.json", function( data ) {
                  $( ".exchange" ).html( JSON.stringify(data) );
                 });
         });

        </script>

</div>
</body>
</html>
